*{
  box-sizing: border-box;
  color: white;
  font-weight: 500;
}
body{
  background-image: url(./assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;/* Place the background behind the content */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.container{
  position: relative;
  text-align: center;
  padding: 20%;
  box-shadow: 2px 2px 3px rgba(64, 64, 64, 0.325);
  border-radius: 20px;
  background: linear-gradient(to bottom right, rgba(40, 3, 92, 0.64),rgba(128, 0, 128, 0.359), rgba(255, 255, 255, 0.19));
}
.card {
  border-radius: 10px;
  background: linear-gradient(to bottom right, rgba(225, 0, 255, 0.262), rgba(24, 50, 112, 0.333));
  box-shadow: 2px 2px 2px rgba(20, 20, 20, 0.353);
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
